{% extends 'baseHome.html.twig' %}

{% block title %}SIMBOX - Usuario{% endblock %}

{% block body %}
<h1>Edit Perfil</h1>
<section class="content mt-5">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h2><i class="fas fa-user-circle"></i>Datos del Usuario</h2>
						</div>
						<div class="container py-4 px-0">
							<div class="col-6">
								
								{{form_start(form)}}
								{{form_widget(form)}}
								 <button class="btn btn-success">{{ button_label|default('Actualizar') }}</button>
								{{form_end(form)}} 
							</div>
							<hr class="mb-3">
							<a href="{{ path('usuario', {'email':app.user.email})}}"class="btn btn-primary "><i class="fas fa-angle-left"></i></a>
						</div>
							
					</div>
					
				</div>
					<!--end card-->
			</div>
		</div>
	</section>

{% endblock %}
