{% extends 'baseHome.html.twig' %}

{% block title %}Puntaje Ejercicio
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('../public/css/dataTables.bootstrap4.min.css') }}">
	<link rel="stylesheet" href="{{ asset('../public/css/responsive.bootstrap4.min.css') }}">
{% endblock %}
{% block head_js %}

{% endblock %}


{% block body %}


<h1>Puntaje Alumno</h1>
	<section class="content mt-5">
		<div class="container-fluid">
		<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="jumbotron text-center">
						<h2 class="display-2">Record Alumno</h2>
						<hr class="my-4">
					</div>
				</div>
		</div>
			
		{# 	<pre>
				{{ dump(records) }}
			</pre>
 #}
			<div class="row">
				<div class="col-4">
					<div class="card" style="width: 18rem;">
						<div class="card-body text-center">
							<h5 class="card-title">Cheque Al Portador</h5>
							
							{% set pts = 0 %}
							{% set inte = 0 %}
							{% for intento in records %}
							{% set pts = pts + intento.puntaje %}
							{% set inte = inte + 1 %}	
							{% endfor %}
							<h2 class="card-subtitle mb-2 text-muted display-2">{{pts}} / 50</h2>
							 	<p class="card-text">Intentos: {{inte / 10|round}}</p> 

							<a class="btn btn-secondary " href="{{ absolute_url("operacion/ChequePortador/1")}}" >Repetir</a>
						</div>
					</div>
				
				</div>
				<div class="col-4">
				
				</div>
				<div class="col-4">
				
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
<script>
var nombre = $('li a')[2].text;
$('.jumbotron h2').text('Record '+ nombre);

</script>
{% endblock %}
