{% extends 'base.html.twig' %}

{% block title %}SIMBOX - Operaciones de Caja{% endblock %}
{% block head_js %}
<script type="text/javascript" src="{{ asset('../public/js/functions.js') }}"></script>
{% endblock %}
{% block body %}

<style>
	@font-face{
		font-family: 'codigodebarras';
		src: url('{{ asset('css/fonts/codigobarrasfont7.woff') }}') format('woff'), url('{{ asset('css/fonts/codigobarrasfont7.ttf') }}') format('truetype') 
	}
		@font-face{
		font-family: 'jackinput';
		src: url('{{ asset('css/fonts/jackinput.ttf') }}')  format('truetype') 
	}

	{% if cheque_operacion is not empty %}
	.cheque {zoom: 64%; background-image: url("{{ asset('img/fondos/modelo-' ~ cheque_operacion[0]["banco"]|lower ~ '.jpg') }}"); width:800px; height:400px; margin: 20px 0px;transform: rotate(3deg);}
	{% endif %}
	.deposito {zoom: 64%; background-image: url("{{ asset('img/fondos/modelo-deposito.jpg') }}"); background-repeat: repeat-x; width:800px; min-height:400px; margin: 20px 0px;transform: rotate(-2deg);}
	
	.tarjado-portador{background-image: url("{{ asset('img/tarjado-portador.png') }}"); width:110px; height:10px; position: relative; top:-164px; left: 659px; z-index: 100; font-size: 24px;}
	.tarjado-orden{background-image: url("{{ asset('img/tarjado-orden.png') }}"); width:110px; height:10px; position: relative; top:-198px; left: 21px; z-index: 100; font-size: 24px;}
	
	.reverso{background-image: url("{{ asset('img/fondos/modelo-cheque-reverso-corto.jpg') }}"); width:230px; height:239px; margin: 20px 0px; padding: 10px 10px; transform: rotate(1deg);}
   
	.madera{background-image:url("{{ asset('img/fondos/fondo-madera.jpg') }}"); padding-left: 30px; padding-bottom: 30px;}
	.granito{background-image:url("{{ asset('img/fondos/fondo-granito.jpg') }}"); padding-left: 30px; padding-bottom: 30px;}
	{% if servicio is not empty %}
	.servicio {zoom:64%; background-image: url("{{ asset('img/fondos/servicio-' ~ servicio[0]["nombre"]|lower ~ '.jpg') }}"); width:800px; height:800px; margin: 20px 0px;transform: rotate(0deg);}
	{% endif %}
	
</style>

<div class="container" style="max-width:1360px;">
  <div class="row bg-dark text-white d-flex">
	<div class="col-4" style="padding: 7px;">
		<img src="{{asset("img/logos/simbox-blanco.png")}}" width="60" /> Simulador de Caja Bancaria
	</div>
	<div class="col-4 d-flex align-items-center" id="listaEjercicios">
		<p class="mb-0 m-auto">{{sesion.lista}}</p>
	</div>
	<div class="col-4 d-flex align-items-center" >
		<p class="mb-0" id="puntaje"> {{sesion.puntaje}}</p>
	</div>
  </div>
  <div class="row">
    <div class="col-sm-2" style="background-color: #eeeeee; color:white;">
      <div style="margin: 12px 0px;"> 	
		  <img src="{{ asset('img/logos/banko-800.png') }}" width="150" />
	  </div>
	  <ul>
	  	<li><a class="linkmenu" href="#" onClick="esconderFormulariosMenos(form_pago_cheque);">Pago Cheque</a></li>
		<li><a class="linkmenu" href="#" onClick="esconderFormulariosMenos(form_deposito_cheque_mismo_banco);">Depósito Cheque Mismo Banco</a></li>
		<li><a class="linkmenu" href="#" onClick="esconderFormulariosMenos(form_deposito_cheque_otro_banco);">Depósito Cheque Otros Bancos</a></li>
		<li><a class="linkmenu" href="#" onClick="esconderFormulariosMenos(form_traspaso_a_tesoreria);">Traspaso a Tesorería</a></li>
		<li><a class="linkmenu" href="#" onClick="esconderFormulariosMenos(form_traspaso_de_tesoreria);">Traspaso de Tesorería</a></li>
    </div>
    <div class="col-sm-4" id="columna-central">
        <div id="instrucciones">
            <h3>Instrucciones del Simulador</h3>
            <ul>
                <li> Revise la solicitud del cliente</li> 
                <li> Revise las formalidades del trámite (documentos, datos correctos, etc.)</li>
                <li> Seleccione a la izquierda la operación a efectuar</li>
                <li> Complete los datos y ejecute la operación</li>
                <li> Si no se cumplen las formalidades del trámite, rechace la operación</li>
            </ul>
        </div>
        <div id="form_pago_cheque" class="oculto"> 
            <h2>Pago Cheque</h2>
            <form name="formpago">
                <input type="text" name="numero-cuenta-pch" id="numero-cuenta-pch" placeholder="Número Cuenta" onBlur="getDatosCuenta($('#numero-cuenta-pch').val(),'Pch')"/></br>
                <div id="datosCuentaPch"></div>
                <input type="text" id="serie-cheque-input-pch" name="serie-cheque-pch" placeholder="Número Serie Cheque"/></br>
                <input type="text" id="monto-cheque-input-pch" name="monto-pch" placeholder="Monto"/></br>
            </form>
            <button class="btn btn-primary" onClick="compararResultadosPch()">Ingresar Operación</button> 
            <button class="btn btn-primary" onClick="compararError()">Rechazar Operación</button>
        </div>
        <div id="form_deposito_cheque_mismo_banco" class="oculto">
            <h2>Depósito Cheques Mismo Banco</h2>
            <form name="formdepositomismobanco">
                <input type="text" name="numero-cuenta-dcmb" id="numero-cuenta-dcmb" placeholder="Número Cuenta" onBlur="getDatosCuenta($('#numero-cuenta-dcmb').val(),'Dcmb')"/></br>
                <div id="datosCuentaDcmb"></div>
                <input type="text" id="numero-doctos-cheque-dcmb" name="numero-documentos-dcmb" placeholder="Número Documentos"/></br>
                <input type="text" id="serie-papeleta-dcmb" name="serie-papeleta-dcmb" placeholder="Serie Papeleta"/></br>
                <input type="text" id="monto-doctos-dcmb" name="monto-doctos-dcmb" placeholder="Monto"/></br>

            </form>
            <button class="btn btn-primary" onClick="compararResultadosDcmb()">Ingresar Operación</button> 
            <button class="btn btn-primary" onClick="compararError()">Rechazar Operación</button>
        </div>
        <div id="form_deposito_cheque_otro_banco" class="oculto">
            <h2>Depósito Cheques Otros Bancos</h2>
            <form name="formdepositootrosbancos">
                <input type="text" name="numero-cuenta-dcob" id="numero-cuenta-dcob" placeholder="Número Cuenta" onBlur="getDatosCuenta($('#numero-cuenta-dcob').val(), 'Dcob')"/></br>
                <div id="datosCuentaDcob"></div>
                <input type="text" id="numero-doctos-cheque-dcob" name="numero-documentos-dcob" placeholder="Número Documentos"/></br>
                <input type="text" id="serie-papeleta-dcob" name="serie-papeleta-dcob" placeholder="Serie Papeleta"/></br>
                <input type="text" id="monto-doctos-dcob" name="monto-doctos-dcob" placeholder="Monto"/></br>

            </form>
            <button class="btn btn-primary" onClick="compararResultadosDcob()">Ingresar Operación</button> 
            <button class="btn btn-primary" onClick="compararError()">Rechazar Operación</button>
        </div>
        <div id="form_traspaso_a_tesoreria" class="oculto">
            <h2>Traspaso a Tesorería</h2>
            <form name="formtraspasoateseoreria">
                <input type="text" name="valor-20000-tat" id="valor-20000-tat" placeholder="Valor Traspaso"/></br>
				<!--
                <input type="text" name="valor-10000-tat" id="valor-10000-tat" placeholder="Valor $10.000"/></br>
                <input type="text" name="valor-5000-tat" id="valor-5000-tat" placeholder="Valor $5.000"/></br>
                <input type="text" name="valor-2000-tat" id="valor-2000-tat" placeholder="Valor $2.000"/></br>
                <input type="text" name="valor-2000-tat" id="valor-1000-tat" placeholder="Valor $1.000"/></br> -->
            </form>
            <button class="btn btn-primary" onClick="compararResultadosTs()">Realizar Traspaso</button> 
        </div>
        <div id="form_traspaso_de_tesoreria" class="oculto">
            <h2>Traspaso de Tesorería</h2>
            <form name="formtraspasodeteseoreria">
                <input type="number" name="valor-20000-tdt" id="valor-20000-tdt" class="col-3" value="0" /><label for="valor-20000-tdt" class="fw-bold ml-3">$20.000</label></br>
                <input type="number" name="valor-10000-tdt" id="valor-10000-tdt"class="col-3"value="0"  /><label for="valor-10000-tdt"class="fw-bold ml-3">$10.000</label></br>
                <input type="number" name="valor-5000-tdt" id="valor-5000-tdt"class="col-3"value="0"  /><label for="valor-5000-tdt"class="fw-bold ml-3">$5.000</label></br>
                <input type="number" name="valor-2000-tdt" id="valor-2000-tdt"class="col-3" value="0" /><label for="valor-2000-tdt"class="fw-bold ml-3">$2.000</label></br>
                <input type="number" name="valor-2000-tdt" id="valor-1000-tdt"class="col-3"value="0"  /><label for="valor-1000-tdt"class="fw-bold ml-3">$1.000</label></br>
            </form>
            <button class="btn btn-primary" onClick="compararResultadosdTs()">Solicitar Traspaso</button> 
        </div>
    </div>
    <div class="col-sm-6" style="padding-left:0px;">
	    <div class="card tab-card">
			<div class="card-header tab-card-header">
				<ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link" id="one-tab" data-toggle="tab" href="#one" role="tab" onClick="$('#two').hide();$('#three').hide();$('#one').show();">Operación</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab"  onClick="$('#three').hide();$('#one').hide();$('#two').show();">Libro Diario</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" onClick="$('#one').hide();$('#two').hide();$('#three').show();">Cuadratura</a>
					</li>
				</ul>
			</div>
			
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active madera" id="one" role="tabpanel" aria-labelledby="one-tab">
						<div class="alert alert-info">Cliente dice: "{{ operacion[0]["mensaje_cliente"] }}"</div>
						{% if cheque_operacion is not empty %}
						<div class="cheque">
							<div class="seriesucursal">Serie <span id="serie">{{ cheque_operacion[0]["serie"] }}</span><br>Sucursal {{ cheque_operacion[0]["sucursal"] }}</div>
							<div class="cuenta">{{ cheque_operacion[0]["cuenta"] }}</div>
							<div class="titular">{{ cheque_operacion[0]["titular"]|upper }}</div>
							<div class="montonumero" id="montonumero">{{ cheque_operacion[0]["monto_numero"]|number_format(0, ',', '.') }}</div>
							{% if cheque_operacion[0]["numero_dias_cheque"] != "no"%}
								<div class="cheque-dia">{{ "now"|date_modify( cheque_operacion[0]["numero_dias_cheque"]*(-1) ~" day")|date("d") }}</div>
								<div class="cheque-mes">{{ "now"|date_modify( cheque_operacion[0]["numero_dias_cheque"]*(-1) ~" day")|date("m") }}</div>
								<div class="cheque-ano">{{ "now"|date_modify( cheque_operacion[0]["numero_dias_cheque"]*(-1) ~" day")|date("Y") }}</div>
							{% endif %}	
							<div class="beneficiario">{{ cheque_operacion[0]["beneficiario"] }}</div>
							<div class="montotexto">{{ cheque_operacion[0]["monto_letras"] }}</div>
							{% if cheque_operacion[0]["tarjado_al_portador"] == "si"%}
								<div class="tarjado-portador"></div>
							{% endif %}
							{% if cheque_operacion[0]["tarjado_orden"] == "si"%}
								<div class="tarjado-orden"></div>
							{% endif %}
							<div class="firma"><img src="{{ asset('img/firmas/' ~ cheque_operacion[0]["firma"]) }}"/></div>
							<div class="codigobarras">{0000{{ cheque_operacion[0]["serie"] }}} 0980421}00000{{ cheque_operacion[0]["cuenta"] }}[ 01</div>
							{% if cheque_operacion[0]["firma_beneficiario_atravesada"] %}
								<div class="firma-cruzada"><img src="{{ asset('img/firmas/' ~ cheque_operacion[0]["firma_beneficiario_atravesada"]) }}"/></div>
							{% endif %}
							{% if cheque_operacion[0]["cruzado"] == "si"%}
								<div class="chequecruzado"><img src="{{ asset('img/fondos/fondo-cheque-cruzado.png') }}"/></div>
							{% endif %}
							{% if cheque_operacion[0]["cruzado_especial_banco"] != "no"%}
							{# falta agregar la logica del nombre del banco, que va entre las rayas #}
								<div class="cheque-cruzado-especial-banco">{{cheque_operacion[0]["cruzado_especial_banco"]}}</div>
							{% endif %}
						</div>
						{% endif %}
						<!--end cheque-->
						{% if cheque_operacion is not empty %}
						{% if cheque_operacion[0]["numero_dias_revalidacion"] or cheque_operacion[0]["revalidacion_firma"] or
							cheque_operacion[0]["endoso_deposito_cuenta"] or cheque_operacion[0]["endoso_deposito_firma"] or
							cheque_operacion[0]["endoso_deposito_rut"] or cheque_operacion[0]["endoso_regular_firma"] or cheque_operacion[0]["endoso_regular_rut"] or
							cheque_operacion[0]["endoso_regular_nombre"] %}
						<div class="reverso">
							<div id="etiqueta-reverso">reverso cheque</div>
							<!-- Vamos introduciendo items en reverso -->
							{% if cheque_operacion[0]["numero_dias_revalidacion"] %}
							<div>Revalidado {{ "now"|date_modify( cheque_operacion[0]["numero_dias_revalidacion"]*(-1) ~" day")|date("m/d/Y")|format_datetime('medium', 'none', locale='es') }}</div>
							{% endif %}
							{% if cheque_operacion[0]["revalidacion_firma"] %}
							<div><img width="150" src="{{ asset('img/firmas/' ~ cheque_operacion[0]["revalidacion_firma"]) }}"/></div>
							{% endif %}
							<div>{{ cheque_operacion[0]["endoso_deposito_cuenta"] }}</div>
							{% if cheque_operacion[0]["endoso_deposito_firma"] %}
							<div><img width="150" src="{{ asset('img/firmas/' ~ cheque_operacion[0]["endoso_deposito_firma"]) }}"/></div>
							{% endif %}
							<div>{{ cheque_operacion[0]["endoso_deposito_rut"] }}</div>
							<div>{{ cheque_operacion[0]["endoso_regular_nombre"] }}</div>
							<div>{{ cheque_operacion[0]["endoso_regular_rut"] }}</div>
							{% if cheque_operacion[0]["endoso_regular_firma"] %}
							<div><img width="150" src="{{ asset('img/firmas/' ~ cheque_operacion[0]["endoso_regular_firma"]) }}"/></div>
								{% endif %}
						
						</div>
						{% endif %}	
					{% endif %}
					<!--end reverso-->
					{% if servicio is not empty %}
					<div class="servicio">
						<div class="servicio-{{ servicio[0]['nombre']}}-numero-boleta">{{ servicio[0]['id']}}</div>
						<div class="servicio-{{ servicio[0]['nombre']}}-numero-cliente">{{ servicio[0]['numero_cliente']}}</div>
						<div class="servicio-{{ servicio[0]['nombre']}}-nombre-cliente">{{ servicio[0]['nombre_cliente']}}</div>
						<div class="servicio-{{ servicio[0]['nombre']}}-total">${{ servicio[0]['total']|number_format(0, ',', '.')}}</div>
						<div class="servicio-{{ servicio[0]['nombre']}}-fecha-vencimiento">{{ "now"|date_modify( servicio[0]["dias_servicio"] ~" day")|date("m/d/Y")|format_datetime('medium', 'none', locale='es') }}</div>
					</div>
					{% endif %}
					<!--end servicio-->
					{% if cedula_operacion is not empty %}
					<div class="carnet">
						<img src="{{ asset('img/carnes/' ~ cedula_operacion[0]["ruta_imagen"]) }}" width="230"/>
					</div>
					{% endif %}

					{% if deposito_operacion is not empty %}
					<div class="deposito">
						<div class="depo-dia">{{ "now"|date_modify( deposito_operacion[0]["numero_dias_deposito"]*(-1) ~" day")|date("d") }}</div>
						<div class="depo-mes">{{ "now"|date_modify( deposito_operacion[0]["numero_dias_deposito"]*(-1) ~" day")|date("m") }}</div>
						<div class="depo-ano">{{ "now"|date_modify( deposito_operacion[0]["numero_dias_deposito"]*(-1) ~" day")|date("Y") }}</div>

						<div class="depo-check-efectivo">{% if deposito_operacion[0]["tipo_deposito"] == 1 %}x{% else %}_{% endif %}</div>
						<div class="depo-check-doctos-mismo">{% if deposito_operacion[0]["tipo_deposito"] == 2 %}x{% else %}_{% endif %}</div>
						<div class="depo-check-otros-doctos-mismo">{% if deposito_operacion[0]["tipo_deposito"] == 3 %}x{% else %}_{% endif %}</div>
						<div class="depo-check-doctos-otros">{% if deposito_operacion[0]["tipo_deposito"] == 4 %}x{% else %}_{% endif %}</div>

						<div class="depo-titular">{{deposito_operacion[0]["nombre_titular"]}}</div>
						<div class="depo-depositante">{{deposito_operacion[0]["nombre_depositante"]}}</div>
						<div class="depo-numero-doctos">{{deposito_operacion[0]["numero_documentos"]}}</div>
						<div class="depo-numero-cuenta" id="depo-numero-cuenta">{{deposito_operacion[0]["numero_cuenta"]}}</div>
						<div class="depo-total" id="depo-total">{{deposito_operacion[0]["total"]|number_format(0, ',', '.')}}</div>
						<div class="depo-serie" id="depo-serie">{{deposito_operacion[0]["id"]}}</div>
					</div>
					{% endif %}
					<!--end deposito-->
					{% if cheque_operacion is not empty %}
						<div id="error" style="display:none">{{ cheque_operacion[0]["error"] }}</div>
					{% endif %}
				</div>
				<div class="tab-pane p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
					<div class="row">
						<div class="col-6">
							<h2>Libro Diario</h2>
						</div>	
						<div class="col-6 text-right">
							<p>{{ "now"|date("d/m/Y") }}</p>
						</div>									
					</div>
					<table class="table table-striped">
				<thead>
					<tr>
					<th scope="col">#</th>
					<th scope="col">Transacción</th>
					<th scope="col">Estado</th>
					<th scope="col">Cuenta</th>
					<th scope="col">Serie</th>
					<th scope="col">Entrada</th>
					<th scope="col">Salida</th>
					</tr>
				</thead>
				<tbody id="tbody-diario">
					{% if sesion['registros_id']|length > 0 %}
						{% for i in 0..sesion['registros_id']|length -1 %}
						<tr>
							<th scope="row">{{ sesion['registros_id'][i] }}</th>
							<td>{{ sesion['registros_transaccion'][i]  }}</td>
							<td>{{ sesion['registros_estado'][i]  }}</td>
							<td>{{ sesion['registros_cuenta'][i]  }}</td>
							<td>{{ sesion['registros_serie'][i]  }}</td>
							{% if  sesion['registros_entrada_salida'][i] != 'salida' %}
								<td>{{ sesion['registros_monto'][i]  }}</td>
								<td>0</td>
							{% else %}
								<td>0</td>
								<td>{{ sesion['registros_monto'][i]  }}</td>
							{% endif %}
						</tr>
						{% endfor %}
					{% endif %}
					</tbody>
					</table>
					
				</div>
			<div class="tab-pane p-3" id="three" role="tabpanel" aria-labelledby="three-tab">
				<div class="row">
					<div class="col-6">
						<h2>Cuadratura</h2>
					</div>	
					<div class="col-6 text-right">
						<p>{{ "now"|date("d/m/Y") }}</p>
					</div>									
				</div>
				<div class="row">
					<div class="col-6">
						<label for="entrada">Entrada</label>
						{# dejar asi el formato porque sino hace saltos de lines y espacios innecesarios #}
						{% set depChM = 0 %}
						{% set dchm = "Depósito Cheque Mismo Banco" %}
						<textarea class="form-control" id="entrada" rows="3">
						{%- if sesion['registros_id']|length > 0 -%}
							{%- for i in 0..sesion['registros_id']|length -1 -%}
								{%- if sesion['registros_entrada_salida'][i] == 'entrada' -%}
									{%- if sesion['registros_tipo_operacion'][i] == dchm -%}
										{% set depChM = depChM + sesion['registros_monto'][i]%}
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endif %}
						{%- if depChM  != 0 -%}{{-dchm-}} | ${{-depChM-}}
						{%- endif -%}
						{%- if sesion['tesoreriaB'] != 0 -%}
							Tesorería | {{- sesion['tesoreriaB'] -}}
						{% endif %}
						
						</textarea>
					</div>
					<div class="col-6">
						<label for="salida">Salida</label>
						{# el - quita los espacios en blanco #}
						{% set pagoCheque = 0 %}
						{% set pagch = "Pago Cheque" %}
						<textarea class="form-control" id="salida" rows="3">
						{%- if sesion['registros_id']|length > 0 -%}
							{%- for i in 0..sesion['registros_id']|length -1 -%}
								{%- if sesion['registros_entrada_salida'][i] == 'salida' -%}
									{%- if sesion['registros_tipo_operacion'][i] == pagch -%}
										{% set pagoCheque = pagoCheque + sesion['registros_monto'][i]%}
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endif %}
						{%- if pagoCheque != 0 -%}{{-pagch-}} | ${{-pagoCheque-}}
						{%- endif -%}
						{% if sesion['tesoreriaA'] != 0 %}
							Tesorería | ${{ sesion['tesoreriaA'] }}
						{% endif %}
						</textarea>
					</div>
					<div class="col-3">
						<label for="entrada-canje">Entrada Canje</label>
						{% set entrada_canje = 0 %}
						{% if sesion['registros_id']|length > 0 %}
							{% for i in 0..sesion['registros_id']|length -1 %}
								{% if sesion['registros_entrada_salida'][i] == 'entrada' and sesion['registros_tipo_operacion'][i] == "Depósito Cheque Otros Bancos"%}
									{% set entrada_canje = entrada_canje + sesion['registros_monto'][i]%}
								{% endif %}
							{% endfor %}
						{% endif %}
						<input type="text" class="form-control" id="entrada-canje" value="${{entrada_canje}}">
					</div>
						<div class="col-3">
							<label for="entrada-efectivo">Entrada Efectivo</label>
							{% set entrada_efectivo = 0 %}
							{% if sesion['registros_id']|length > 0 %}
								{% for i in 0..sesion['registros_id']|length -1 %}
									{% if sesion['registros_entrada_salida'][i] == 'entrada' and sesion['registros_tipo_operacion'][i] == "Depósito Cheque Mismo Banco"%}
										{% set entrada_efectivo = entrada_efectivo + sesion['registros_monto'][i]%}
									{% endif %}
								{% endfor %}
							{% endif %}
							<input type="text" class="form-control" id="entrada-efectivo" value="${{entrada_efectivo + + sesion['tesoreriaB']}}">
						</div>
						<div class="col-3">
							<label for="salida-canje">Salida Canje</label>
							{% set salida_canje = 0 %}
							<input type="text" class="form-control" id="salida-canje" value="${{salida_canje}}">
						</div>
					<div class="col-3">
						<label for="salida-efectivo">Salida Efectivo</label>
							{% set salida_efectivo = 0 %}
						{% if sesion['registros_id']|length > 0 %}
							{% for i in 0..sesion['registros_id']|length -1 %}
								{% if sesion['registros_entrada_salida'][i] == 'salida' and sesion['registros_tipo_operacion'][i] == "Pago Cheque"%}
									{% set salida_efectivo = salida_efectivo + sesion['registros_monto'][i]%}
								{% endif %}
							{% endfor %}
						{% endif %}
						<input type="text" class="form-control" id="salida-efectivo" value="${{salida_efectivo + sesion['tesoreriaA']}}">
					</div>
					{% set total_entrada = entrada_canje + entrada_efectivo + sesion['tesoreriaB']%}
					{% set total_salida = salida_canje + salida_efectivo + sesion['tesoreriaA'] %}
						<div class="col-3">
							<label for="saldo-apertura">Saldo Apertura</label>
							{% set saldo_apertura = sesion['saldo']- total_entrada +total_salida  %}
							<input type="text" class="form-control" id="saldo-apertura" value="${{saldo_apertura}}">
						</div>
						<div class="col-3">
							<label for="total-entrada">Total Entrada</label>
							<input type="text" class="form-control" id="total-entrada" value="${{total_entrada}}">
						</div>
						<div class="col-3">
							<label for="saldo-actual">Saldo Actual</label>
							<input type="text" class="form-control" id="saldo-actual" value="${{sesion['saldo']}}">
						</div>
						<div class="col-3">
							<label for="total-salida">Total Salida</label>
							<input type="text" class="form-control" id="total-salida" value="${{total_salida}}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="row bg-dark text-white p-2">
		<div class="col-sm-12" >
			Saldo de caja actual: <strong id="monto-saldo"> ${{sesion['saldo']}}</strong> / $15.000.000
		</div>
	</div>
</div>
</div>


<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}