{% extends 'base.html.twig' %}

{% block title %}SIMBOX - Operaciones de Caja{% endblock %}

{% block body %}
<script>

    //almacena qué formulario está ocupando el usuario
    var tipo_accion_seleccionada = "";

	function getDatosCuenta(cuenta, from){
		var Ruta = Routing.generate('datosCuenta');
		var nombrecapa = "#datosCuenta" + from;
		$.ajax({
			type: 'POST',
			url: Ruta,
			data: ({cuenta: cuenta}),
			async: true,
			dataType: "json",
			success: function(data){
				$(nombrecapa).html(data['nombre'] + '<img src="./img/firmas/' + data['firma'] + '" width="130">');
			}
		});
	}

	function setPuntaje(){

		
	}
    function esconderFormulariosMenos(id_mantener){
        
        //escondemos instrucciones
        $("#instrucciones").hide();

        $("#form_pago_cheque").hide();
        $("#form_deposito_cheque_mismo_banco").hide(); 
        $("#form_deposito_cheque_otro_banco").hide();
        $("#form_traspaso_a_tesoreria").hide(); 
        $("#form_traspaso_de_tesoreria").hide();

         $(id_mantener).show();
         tipo_accion_seleccionada = id_mantener.id;

    }
    function esconderFormularios(){

        //escondemos instrucciones
        $("#instrucciones").hide();

        $("#form_pago_cheque").hide();
        $("#form_deposito_cheque_mismo_banco").hide(); 
        $("#form_deposito_cheque_otro_banco").hide();
        $("#form_traspaso_a_tesoreria").hide(); 
        $("#form_traspaso_de_tesoreria").hide();

        tipo_accion_seleccionada = "";
    }



	//funciones para comparar respuestas del usuario con las que debieran ser, y se entrega el puntaje del ejercicio,
	//en caso de que la respuesta correcta fuera realizar la operacion.
	function compararResultadosPch(){
		//comparamos serie
		if($("#serie-cheque-input-pch").val() == $("#serie").html()){
			if($("#monto-cheque-input-pch").val() == $("#montonumero").html().replaceAll(".","")){
				alert("is the same! Y está correcto el ejercicio, así que te ganaste los puntos.");	
			}
		}
		else{
			alert("La operación no está correcta.");
		}
	}

    //TODO: ver todo lo de la papeleta. Necesitamos que se muestre.
    function compararResultadosDcmb(){
		//comparamos serie
		if($("#numero-cuenta-dcmb").val() == $("#depo-numero-cuenta").html()){
			if($("#monto-doctos-dcmb").val() == $("#depo-total").html().replaceAll(".","")){
                if($("#serie-papeleta-dcmb").val() == $("#depo-serie").html()){
				    alert("is the same! Y está correcto el ejercicio, así que te ganaste los puntos.");
                }
				else{
					alert("Error papeleta");
				}
			}
			else{
				alert("Error monto");
			}
		}
		else{
			alert("Error numero cuenta.");
		}
	}

    //TODO: ver todo lo de la papeleta. Necesitamos que se muestre.
    function compararResultadosDcob(){
		//comparamos serie
		if($("#numero-cuenta-dcob").val() == $("#depo-numero-cuenta").html()){
			if($("#monto-doctos-dcob").val() == $("#depo-total").html().replaceAll(".","")){
                if($("#serie-papeleta-dcob").val() == $("#depo-serie").html()){
				    alert("is the same! Y está correcto el ejercicio, así que te ganaste los puntos.");
                }
				else{
					alert('error papeleta')
				}
			}
			else{
				alert('error monto');
			}
		}
		else{
			alert("Error serie cheque.");
		}
	}

	//ahora, si la persona clickea "rechazar operación", corroboramos que el cheque efectivamente venga con error
	function compararError(){
		if($("#error").html()!=""){
			alert("Bien! La operación tenía un error: " + $("#error").html());
		}
		else{
			alert("Te has equivocado. La operación estaba correcta.");
		}
	}
</script>
<style>
	@font-face{
		font-family: 'codigodebarras';
		src: url('{{ asset('css/fonts/codigobarrasfont7.woff') }}') format('woff'), url('{{ asset('css/fonts/codigobarrasfont7.ttf') }}') format('truetype') 
	}

	.card {
		background-color:#f1c430;
		border: 0px;
	}

	/* Tabs Card */

	.tab-card {

	}

	.tab-card-header {
		background:none;
	}
	/* Default mode */
	.tab-card-header > .nav-tabs {
		border: none;
		margin: 0px;
	}
	.tab-card-header > .nav-tabs > li {
		margin-right: 2px;
	}
	.tab-card-header > .nav-tabs > li > a {
		border: 0;
		border-bottom:2px solid transparent;
		margin-right: 0;
		color: #737373;
		padding: 2px 15px;
	}

	.tab-card-header > .nav-tabs > li > a.show {
		border-bottom:2px solid #007bff;
		color: #007bff;
	}
	.tab-card-header > .nav-tabs > li > a:hover {
		color: #007bff;
	}

	.tab-card-header > .tab-content {
		padding-bottom: 0;
	}

    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
	.cheque {zoom: 64%; background-image: url("{{ asset('img/fondos/modelo-' ~ cheque_operacion[0]["banco"]|lower ~ '.jpg') }}"); width:800px; height:400px; margin: 20px 0px;}
	.deposito {zoom: 64%; background-image: url("{{ asset('img/fondos/modelo-deposito.jpg') }}"); width:800px; height:400px; margin: 20px 0px;}
	.beneficiario {position: absolute; top: 306px; left: 180px; z-index: 105; font-size: 24px;}
	.montonumero {position: absolute; top: 190px; left: 590px; z-index: 110; font-size: 24px;}
	.montotexto {position: absolute; top: 353px; left: 180px; z-index: 115; font-size: 24px;}
	.firma{position: absolute; top: 389px; left: 501px; z-index: 120;}
	.chequecruzado{width: 800px; height: 400px; position: absolute; top: 167px; z-index: 300;}
	.codigobarras{font-family: 'codigodebarras'; font-size: 23px; position: absolute; top: 531px; left:60px; z-index: 200;}
	.tarjado-portador{background-image: url("{{ asset('img/tarjado-portador.png') }}"); width:110px; height:10px; position: absolute; top:345px; left: 685px; z-index: 100; font-size: 24px;}
	.tarjado-orden{background-image: url("{{ asset('img/tarjado-orden.png') }}"); width:110px; height:10px; position: absolute; top:320px; left: 48px; z-index: 100; font-size: 24px;}
	.cheque-dia{position: absolute; top: 230px; left:510px;font-size:28px;}
	.cheque-mes{position: absolute; top: 230px; left:610px;font-size:28px;}
	.cheque-ano{position: absolute; top: 230px; left:730px;font-size:28px;}
	.cuenta{position: absolute; top: 171px; left: 300px; z-index: 200; font-size: 18px;}
	.titular{position: absolute; top: 200px; left: 270px; z-index: 100; font-size: 18px;}
	.seriesucursal{position: absolute; top: 170px; left: 50px; z-index: 100; font-size: 20px;}
	.carnet{margin: 20px 0px}
    .linkmenu{color: #022346;}
	.oculto{display:none;}
	input{ padding: 13px; margin-bottom: 15px;}
	.depo-dia{font-size: 26px; position: relative; top: 105px; left: 50px;}
	.depo-mes{font-size: 26px; position: relative; top: 67px; left: 109px;}
	.depo-ano{font-size: 26px; position: relative; top: 30px; left: 165px;}
	.depo-check-efectivo{font-size: 26px; position: relative; left: 282px; top: -16px;}
	.depo-check-doctos-mismo{font-size: 26px; position: relative; left: 365px; top: -53px;}
	.depo-check-otros-doctos-mismo{font-size: 26px; position: relative; left: 507px; top: -92px;}
	.depo-check-doctos-otros{font-size: 26px; position: relative; left: 681px; top: -129px;}
	.depo-titular{font-size: 26px;position: relative; top: -95px; left: 50px;}
	.depo-depositante{font-size: 26px; position: relative; top: -76px; left: 50px;}
	.depo-numero-doctos{font-size: 26px; position: relative; top: -60px; left: 280px;}
	.depo-numero-cuenta{font-size: 26px; position: relative; top: -185px; left: 450px;}
	.depo-total{font-size: 26px; position: relative; top: -135px; left: 530px;}
	.depo-serie{font-size: 25px; position: relative; top: -430px; left: 640px;}
</style>

<div class="container" style="max-width:1360px;">
  <div class="row" style="background-color: black; color: white; padding: 7px;">
	<div class="col-6" >
		<img src="{{ asset('img/logos/simbox-blanco.png') }}" width="60" /> Simulador de Caja Bancaria
	</div>
	<div class="col-6 d-flex align-items-center" >
		<p class="mb-0" id="puntaje">{{sesion.get("puntaje")}}</p>
	</div>
  </div>
  <div class="row">
    <div class="col-sm-2" style="background-color: #9999cc; color:white;">
      <div style="margin: 12px 0px;"> 	
		  <img src="{{ asset('img/logos/banko-800.png') }}" width="150" />
	  </div>
	  <ul>
	  	<li><a class="linkmenu" href="#" onClick="esconderFormulariosMenos(form_pago_cheque);">Pago Cheque</a></li>
		<li><a class="linkmenu" href="#" onClick="esconderFormulariosMenos(form_deposito_cheque_mismo_banco);">Depósito Cheque Mismo Banco</a></li>
		<li><a class="linkmenu" href="#" onClick="esconderFormulariosMenos(form_deposito_cheque_otro_banco);">Depósito Cheque Otros Bancos</a></li>
		<li><a class="linkmenu" href="#" onClick="esconderFormulariosMenos(form_traspaso_a_tesoreria);">Traspaso a Tesorería</a></li>
		<li><a class="linkmenu" href="#" onClick="esconderFormulariosMenos(form_traspaso_de_tesoreria);">Traspaso de Tesorería</a></li>
    </div>
    <div class="col-sm-4" id="columna-central">
        <div id="instrucciones">
            <h3>Instrucciones del Simulador</h3>
            <ul>
                <li> Revise la solicitud del cliente</li> 
                <li> Revise las formalidades del trámite (documentos, datos correctos, etc.)</li>
                <li> Seleccione a la izquierda la operación a efectuar</li>
                <li> Complete los datos y ejecute la operación</li>
                <li> Si no se cumplen las formalidades del trámite, rechace la operación</li>
            </ul>
        </div>
        <div id="form_pago_cheque" class="oculto"> 
            <h2>Pago Cheque</h2>
            <form name="formpago">
                <input type="text" name="numero-cuenta-pch" id="numero-cuenta-pch" placeholder="Número Cuenta" onBlur="getDatosCuenta($('#numero-cuenta-pch').val(),'Pch')"/></br>
                <div id="datosCuentaPch"></div>
                <input type="text" id="serie-cheque-input-pch" name="serie-cheque-pch" placeholder="Número Serie Cheque"/></br>
                <input type="text" id="monto-cheque-input-pch" name="monto-pch" placeholder="Monto"/></br>
            </form>
            <button class="btn btn-primary" onClick="compararResultadosPch()">Ingresar Operación</button> 
            <button class="btn btn-primary" onClick="compararError()">Rechazar Operación</button>
        </div>
        <div id="form_deposito_cheque_mismo_banco" class="oculto">
            <h2>Depósito Cheques Mismo Banco</h2>
            <form name="formdepositomismobanco">
                <input type="text" name="numero-cuenta-dcmb" id="numero-cuenta-dcmb" placeholder="Número Cuenta" onBlur="getDatosCuenta($('#numero-cuenta-dcmb').val(),'Dcmb')"/></br>
                <div id="datosCuentaDcmb"></div>
                <input type="text" id="numero-doctos-cheque-dcmb" name="numero-documentos-dcmb" placeholder="Número Documentos"/></br>
                <input type="text" id="serie-papeleta-dcmb" name="serie-papeleta-dcmb" placeholder="Serie Papeleta"/></br>
                <input type="text" id="monto-doctos-dcmb" name="monto-doctos-dcmb" placeholder="Monto"/></br>

            </form>
            <button class="btn btn-primary" onClick="compararResultadosDcmb()">Ingresar Operación</button> 
            <button class="btn btn-primary" onClick="compararError()">Rechazar Operación</button>
        </div>
        <div id="form_deposito_cheque_otro_banco" class="oculto">
            <h2>Depósito Cheques Otros Bancos</h2>
            <form name="formdepositootrosbancos">
                <input type="text" name="numero-cuenta-dcob" id="numero-cuenta-dcob" placeholder="Número Cuenta" onBlur="getDatosCuenta($('#numero-cuenta-dcob').val(), 'Dcob')"/></br>
                <div id="datosCuentaDcob"></div>
                <input type="text" id="numero-doctos-cheque-dcob" name="numero-documentos-dcob" placeholder="Número Documentos"/></br>
                <input type="text" id="serie-papeleta-dcob" name="serie-papeleta-dcob" placeholder="Serie Papeleta"/></br>
                <input type="text" id="monto-doctos-dcob" name="monto-doctos-dcob" placeholder="Monto"/></br>

            </form>
            <button class="btn btn-primary" onClick="compararResultadosDcob()">Ingresar Operación</button> 
            <button class="btn btn-primary" onClick="compararError()">Rechazar Operación</button>
        </div>
        <div id="form_traspaso_a_tesoreria" class="oculto">
            <h2>Traspaso a Tesorería</h2>
            <form name="formtraspasoateseoreria">
                <input type="text" name="valor-20000-tat" id="valor-20000-tat" placeholder="Valor $20.000"/></br>
                <input type="text" name="valor-10000-tat" id="valor-10000-tat" placeholder="Valor $10.000"/></br>
                <input type="text" name="valor-5000-tat" id="valor-5000-tat" placeholder="Valor $5.000"/></br>
                <input type="text" name="valor-2000-tat" id="valor-2000-tat" placeholder="Valor $2.000"/></br>
                <input type="text" name="valor-2000-tat" id="valor-1000-tat" placeholder="Valor $1.000"/></br>
            </form>
            <button class="btn btn-primary" onClick="compararResultados()">Realizar Traspaso</button> 
        </div>
        <div id="form_traspaso_de_tesoreria" class="oculto">
            <h2>Traspaso de Tesorería</h2>
            <form name="formtraspasodeteseoreria">
                <input type="text" name="valor-20000-tdt" id="valor-20000-tdt" placeholder="Valor $20.000"/></br>
                <input type="text" name="valor-10000-tdt" id="valor-10000-tdt" placeholder="Valor $10.000"/></br>
                <input type="text" name="valor-5000-tdt" id="valor-5000-tdt" placeholder="Valor $5.000"/></br>
                <input type="text" name="valor-2000-tdt" id="valor-2000-tdt" placeholder="Valor $2.000"/></br>
                <input type="text" name="valor-2000-tdt" id="valor-1000-tdt" placeholder="Valor $1.000"/></br>
            </form>
            <button class="btn btn-primary" onClick="compararResultados()">Solicitar Traspaso</button> 
        </div>
    </div>
    <div class="col-sm-6" style="background-color: #f1c430; padding-left:0px;">
	    <div class="card mt-3 tab-card">
			<div class="card-header tab-card-header">
				<ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link" id="one-tab" data-toggle="tab" href="operacion#one" role="tab" onClick="$('#two').hide();$('#three').hide();$('#one').show();">Operación</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="two-tab" data-toggle="tab" href="operacion#two" role="tab"  onClick="$('#three').hide();$('#one').hide();$('#two').show();">Libro Diario</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="three-tab" data-toggle="tab" href="operacion#three" role="tab" onClick="$('#one').hide();$('#two').hide();$('#three').show();">Cuadratura</a>
					</li>
				</ul>
			</div>
			
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
					<div>Cliente dice: "{{ operacion[0]["mensaje_cliente"] }}"</div>
					{% if cheque_operacion is not empty %}
					<div class="cheque">
						<div class="seriesucursal">Serie <span id="serie">{{ cheque_operacion[0]["serie"] }}</span><br>Sucursal {{ cheque_operacion[0]["sucursal"] }}</div>
						<div class="beneficiario">{{ cheque_operacion[0]["beneficiario"] }}</div>
						<div class="montonumero" id="montonumero">{{ cheque_operacion[0]["monto_numero"]|number_format(0, ',', '.') }}</div>
						<div class="montotexto">{{ cheque_operacion[0]["monto_letras"] }}</div>
						<div class="firma"><img src="{{ asset('img/firmas/' ~ cheque_operacion[0]["firma"]) }}"/></div>
						
						{% if cheque_operacion[0]["cruzado"] == "si"%}
							<div class="chequecruzado"><img src="{{ asset('img/fondos/fondo-cheque-cruzado.png') }}"/></div>
						{% endif %}
						{% if cheque_operacion[0]["cruzado_especial_banco"] != "no"%}
						{# falta agregar la logica del nombre del banco, que va entre las rayas #}
							<div class="cheque-cruzado-especial-banco">{{cheque_operacion[0]["cruzado_especial_banco"]}}</div>
						{% endif %}
						{% if cheque_operacion[0]["tarjado_orden"] == "si"%}
							<div class="tarjado-orden"></div>
						{% endif %}
						{% if cheque_operacion[0]["tarjado_al_portador"] == "si"%}
							<div class="tarjado-portador"></div>
						{% endif %}

						{% if cheque_operacion[0]["numero_dias_cheque"] != "no"%}
							<div class="cheque-dia">{{ "now"|date_modify( cheque_operacion[0]["numero_dias_cheque"]*(-1) ~" day")|date("d") }}</div>
							<div class="cheque-mes">{{ "now"|date_modify( cheque_operacion[0]["numero_dias_cheque"]*(-1) ~" day")|date("m") }}</div>
							<div class="cheque-ano">{{ "now"|date_modify( cheque_operacion[0]["numero_dias_cheque"]*(-1) ~" day")|date("Y") }}</div>
						{% endif %}			
						<div class="codigobarras">{0000{{ cheque_operacion[0]["serie"] }}} 0980421}00000{{ cheque_operacion[0]["cuenta"] }}[ 01</div>
						<div class="cuenta">{{ cheque_operacion[0]["cuenta"] }}</div>
						<div class="titular">{{ cheque_operacion[0]["titular"]|upper }}</div>
					</div>
					{% endif %}
					{% if cedula_operacion is not empty %}
					<div class="carnet">
						<img src="{{ asset('img/carnes/' ~ cedula_operacion[0]["ruta_imagen"]) }}" width="230"/></div>
					</div>
					{% endif %}

					{% if deposito_operacion is not empty %}
					<div class="deposito">
						<div class="depo-dia">{{ "now"|date_modify( deposito_operacion[0]["numero_dias_deposito"]*(-1) ~" day")|date("d") }}</div>
						<div class="depo-mes">{{ "now"|date_modify( deposito_operacion[0]["numero_dias_deposito"]*(-1) ~" day")|date("m") }}</div>
						<div class="depo-ano">{{ "now"|date_modify( deposito_operacion[0]["numero_dias_deposito"]*(-1) ~" day")|date("Y") }}</div>

						<div class="depo-check-efectivo">{% if deposito_operacion[0]["tipo_deposito"] == 1 %}x{% else %}_{% endif %}</div>
						<div class="depo-check-doctos-mismo">{% if deposito_operacion[0]["tipo_deposito"] == 2 %}x{% else %}_{% endif %}</div>
						<div class="depo-check-otros-doctos-mismo">{% if deposito_operacion[0]["tipo_deposito"] == 3 %}x{% else %}_{% endif %}</div>
						<div class="depo-check-doctos-otros">{% if deposito_operacion[0]["tipo_deposito"] == 4 %}x{% else %}_{% endif %}</div>

						<div class="depo-titular">{{deposito_operacion[0]["nombre_titular"]}}</div>
						<div class="depo-depositante">{{deposito_operacion[0]["nombre_depositante"]}}</div>
						<div class="depo-numero-doctos">{{deposito_operacion[0]["numero_documentos"]}}</div>
						<div class="depo-numero-cuenta" id="depo-numero-cuenta">{{deposito_operacion[0]["numero_cuenta"]}}</div>
						<div class="depo-total" id="depo-total">{{deposito_operacion[0]["total"]|number_format(0, ',', '.')}}</div>
						<div class="depo-serie" id="depo-serie">{{deposito_operacion[0]["id"]}}</div>
					</div>
					{% endif %}

					<div id="error" style="display:none">{{ cheque_operacion[0]["error"] }}</div>         
				</div>
				<div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
					Hola 2 
				</div>
				<div class="tab-pane fade p-3" id="three" role="tabpanel" aria-labelledby="three-tab">
					Hola 3
				</div>
			</div>
		</div>
    </div>
	</div>

	<div class="row">
		<div class="col-sm-12" style="background-color: black; color: white; padding: 7px;">
			Saldo de caja actual: $12.345.678 / $15.000.000
		</div>
	</div>
  </div>
</div>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}