<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('../public/build/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('../public/css/style.css') }}">
         <script type="text/javascript" src="{{ asset('../public/js/functions.js') }}"></script>
        {% block stylesheets %}{% endblock %}
		{% block head_js %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('../public/build/js/app.js') }}"></script>
        <script src="{{ asset('../public/js/jquery3.5.1.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
